.product-item {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  @include flex(row, center, flex-start);
  img {
    flex: 1;
    width: 100%;
    object-fit: cover;
  }
  .product-details {
    flex: 1;
    @include flex(column, space-around, center);
    h1,
    h2,
    h4 {
      padding: 1rem 0;
    }
  }
}
