.products-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minxmax(350px, 500px);
}

.product-card {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 1.25px;
  img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  .product-category {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    background: pink;
    color: white;
    padding: 0.5rem;
  }
}

.btn {
  padding: 10px 20px;
  background: pink;
  color: white;
  border: 2px solid pink;
  transition: all 0.3s ease;
  &:hover {
    color: pink;
    background: white;
  }
}
