$main-color: red;
$sec-color: green;

h1 {
  color: pink;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  h1 {
    min-height: 10vh;
  }
}

@import "global";
@import "products";
